
<p>content-parent works!</p>
<app-content-child >
  <section>
 <h3 #remodata2>heading</h3>
 <p >
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab nisi repellat aspernatur dolores porro debitis ducimus odio, animi aut quia, quod vero similique. Voluptas nemo perspiciatis ducimus dolor necessitatibus accusantium error, saepe quia quasi libero numquam, asperiores corrupti dicta alias repellendus qui eaque!
 </p>
 <p #remodata>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consequuntur
   repellendus laboriosam ut maiores ea dolores facilis distinctio quisquam vero
   dolorum reiciendis quam unde perspiciatis, architecto illum sint pariatur?
   In aliquid molestias soluta doloremque accusamus aut aperiam rerum modi
   accusantium ea quam, eius, natus nobis sint quia voluptates vitae corporis
   animi dignissimos facilis corrupti!

 </p>
 <div>
  <h3>body</h3>
  <p class="demo"


  appHighlghtelementSkipTest>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
    voluptatibus consectetur ratione atque, nulla repellat commodi eum minima
    provident suscipit debitis soluta quam doloribus! Enim necessitatibus excepturi
     cupiditate sint odit quaerat totam provident asperiores quisquam doloremque illo,
     incidunt inventore omnis ex unde nobis
    qui temporibus sunt, non pariatur, velit repellat cumque. Harum velit fugit vel!</p>
 </div>


  </section>
</app-content-child>
