
<!-- <app-project1></app-project1> -->
<!-- <app-project2></app-project2> -->
<!-- <h2>Parent Component</h2> -->
<!-- <button (click)="addbutton()">Click</button> -->
<!-- <button (click)="toggle()">Clickbutton</button> -->
<!-- <app-demo-4 *ngIf="displaycompoent"></app-demo-4> -->
<!-- <app-chid-demo>
  <h2>child demo</h2>
  {{childdemo}}
  <div #contentwrapper>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem rem libero architecto aperiam nesciunt soluta tempora id cum? Dolore placeat veniam nemo, sequi deleniti debitis nostrum odio amet possimus repellendus id corrupti cupiditate architecto. Consequatur odio vitae ipsa, libero dolore officiis odit, esse voluptas mollitia similique cupiditate nam quo. Dolorem illum explicabo aut corporis nihil inventore voluptatum provident, porro non facilis qui rem harum veritatis iste repudiandae quas voluptate? Modi at voluptatum autem molestias unde eveniet explicabo! Quidem a
     reiciendis, nulla iure saepe blanditiis suscipit magni totam fugiat provident debitis!
  </div>
</app-chid-demo> -->
    <!-- <button (click)="changeInput()">Change Input Property</button>
    <app-app-child [inputProperty]="parentInput"></app-app-child> -->
  <!-- decorator -->
<!-- <app-parent-parent></app-parent-parent> -->
<!-- assigment -->
<!-- <app-parent></app-parent> -->
<!-- content project -->
<!-- <app-content-parent></app-content-parent> -->
<!-- color picker example -->
<!-- <app-color-pcikcer></app-color-pcikcer> -->
<!-- <app-demo></app-demo>
<app-converter></app-converter>
<app-custom-pipe></app-custom-pipe> -->
<app-number-count></app-number-count>
