<div class="color-demo">

  <label for="colorpicker">Select picker</label>
  <input type="color" id="picker" #inputtext
  >
  <div class="color-picker" [style.background]="selectcolor">
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, nam. Totam voluptas dolore magnam praesentium eius. Animi sunt in dolorem quae. Vel distinctio animi voluptate, eaque ab dolorum consequuntur numquam recusandae natus placeat alias qui facilis dolor architecto odit exercitationem totam, quasi repudiandae. Omnis, facilis. Esse autem pariatur impedit vel, repudiandae ipsum dicta quidem error molestias consequatur temporibus unde vitae? Voluptatum ad eveniet id placeat fuga animi.</p>

  </div>
</div>

